<section class="app-body-inner">
  <h1><%= @user.name %>のノート</h1>
  <%= render "logs/table", logs: @logs, stock: "false" %>
</section>

<% if user_signed_in? && (current_user.id == @user.id) %>
  <section class="app-body-inner">
    <h1>最近のストック</h1>
    <%= render "logs/table", logs: @stocks, stock: "true" %>
  </section>
<% end %>

<div class="app-bottom-inner">
  <%= render "users/profile", user: @user, use_case: "user" %>
</div>
