<% if user_signed_in? %>
  <h1>Hello,World!!</h1>
  <%= link_to "Edit profile", 'users/edit', method: :get %>
  <%= link_to "Sign out", 'users/sign_out', method: :delete %>
<% else %>
  <h1>Welcome,Guest!!</h1>
  <%= link_to "Sign in", 'users/sign_in', method: :get %>
  <%= link_to "Sign up", 'users/sign_up', method: :get %>
<% end %>