<section class="app-body-inner">
  <h1><%= @user.name %>のノート</h1>
  <%= render "table", logs: @logs, stock: "false" %>
  <div class="inner-bottom-btn-wrap">
  </div>
</section>

<% if current_user.id == @user.id %>
  <section class="app-body-inner">
    <h1>最近のストック</h1>
    <%- mystocks = @user.my_stocks %>
    <%= render "table", logs: mystocks, stock: "true" %>
  </section>
<% end %>

<div class="app-bottom-inner">
  <%= render "users/profile", user: @user, use_case: "user" %>
</div>
