$site-danger-bg-color: rgb(255, 187, 187); 
$site-danger-border-color: rgb(182, 0, 0); 
$site-dark-color: #509556;
$site-light-color: #b1f9b3;
$site-font-color: black;
$site-font-color-gray: gray;
$site-footer-bg-color: rgb(82, 82, 82);
$site-main-color: rgb(128, 198, 131);

.c{background-color: rgb(28, 127, 219);}
.cs{background-color: rgb(0, 117, 0);}
.cpp{background-color: rgb(28, 127, 219);}
.cobol{background-color: rgb(189, 189, 0);}
.go{background-color: rgb(14, 212, 179);}
.java{background-color: rgb(56, 84, 209);}
.javascript{background-color: rgb(206, 206, 0);}
.kotlin{background-color: rgb(240, 156, 0);}
.kuin{background-color: rgb(135, 72, 135);}
.lisp{background-color: rgb(230, 0, 0);}
.matlab{background-color: chocolate;}
.nodedjs{background-color: rgb(68, 133, 3);}
.php{background-color: slateblue;}
.perl{background-color: black;}
.python{background-color: rgb(0, 117, 251);}
.objective-c{background-color: black;}
.r{background-color: rgb(22, 63, 177);}
.ruby{background-color: rgb(160, 0, 0);}
.rust{background-color: black;}
.scala{background-color: rgb(230, 1, 1);}
.swift{background-color: rgb(248, 95, 6);}
.typescript{background-color: rgb(1, 100, 212);}
.visualbasicdnet{background-color: gray;}
