$site-main-color: #80c683;
$site-dark-color: #509556;
$site-light-color: #b1f9b3;
$site-font-color: black;
$site-font-color-gray: gray;
$site-footer-bg-color: rgb(82, 82, 82);
$site-danger-border-color: rgb(182, 0, 0); 
$site-danger-bg-color: rgb(255, 187, 187); 
