// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$site-main-color: #80c683;

.log-input-field,
.log-input-field-small,
.log-check-field {
  margin-top: 30px;
  text-align: center;
}
.log-input {
  height: 30px;
  width: 400px;
  vertical-align: middle;
  &-field {
    text-align: right;
    width: 85%;
    &-small {
      text-align: right;
      width: 63%;
    }
    &-lang {
      line-height: 1.5;
      text-align: center;
      width: 58%;
      margin: 30px auto 0;
      input {
        margin-right: 5px;
      }
      label {
        margin-right: 20px;
      }
    }
  }
  &-large {
    height: 100px;
    width: 400px;
    vertical-align: middle;
  }
  &-small {
    height: 30px;
    width: 200px;
  }
}

.label-center {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.log-index-head {
  background-color: $site-main-color;
  th {
    letter-spacing: 1.5px;
  }
}

.log-table {
  border: 1px solid silver;
  border-collapse: collapse;
  margin: 0 auto 30px;
  .log-index-small-col {
    width: 15%;
  }
  td,th {
    border: 1px solid silver;
    padding: 5px;
    line-height: 1.5;
  }
  .log-show-th {
    width: 30%;
  }
  tr {
    height: 50px;
  }
}

.log-title {
  padding: 30px 0;
  text-align: center;
}

.log-updated-at {
  color: silver;
  margin: 0 20px 20px 0;
  text-align: right;
}
