// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "colors.scss";

// logs#table styles //
.log-container {
  width: 90%;
  margin: 20px auto 30px;
}

.log-block {
  padding: 20px 20px 5px;
  min-height: 80px;
  border-bottom: 1px solid rgb(209, 209, 209);
  &__upper {
    height: 60%;
    h2 {
      font-size: 1.2rem;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &__lower {
    height: 40%;
    width: 100%;
    display: flex;
    &-languages {
      display: flex;
      width: 50%;
      .lang {
        border-radius: 10px;
        color: white;
        height: fit-content;
        padding: 0.3vh 0.75vw;
        width: fit-content;
        margin-right: 5px;
      }
    }
    &-user {
      width: 50%;
      display: flex;
      color: gray;
      img {
        border-radius: 20px;
        margin-right: 10px;
      }
    }
  }
  &__text-container {
    font-size: 0.8rem;
    height: fit-content;
    display: flex;
    margin-top: 6px;
    a {
      color: gray;
      text-decoration: none;
      &:hover {
        border-bottom: 1px solid rgb(181, 181, 181);
      }
    }
  }
}

// ----------------- //


// logs#show styles //
.log-input-field,
.log-input-field-small,
.log-check-field {
  margin-top: 30px;
  text-align: center;
}
.log-input {
  height: 30px;
  width: 400px;
  vertical-align: middle;
  &-field {
    text-align: right;
    width: 85%;
    &-small {
      text-align: right;
      width: 63%;
    }
    &-lang {
      line-height: 1.5;
      text-align: center;
      width: 58%;
      margin: 30px auto 0;
      input {
        margin-right: 5px;
      }
      label {
        margin-right: 20px;
      }
    }
  }
  &-large {
    height: 100px;
    width: 400px;
    vertical-align: middle;
  }
  &-small {
    height: 30px;
    width: 200px;
  }
}

.label-center {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.log-index-head {
  background-color: $site-main-color;
  th {
    letter-spacing: 1.5px;
  }
}

.log-table {
  border: 1px solid silver;
  border-collapse: collapse;
  margin: 0 auto 30px;
  .log-index-small-col {
    width: 15%;
  }
  td,th {
    border: 1px solid silver;
    padding: 5px;
    line-height: 1.5;
  }
  .log-show-th {
    width: 30%;
  }
  tr {
    height: 50px;
  }
}

.log-title {
  padding: 30px 0;
  text-align: center;
}

.log-updated-at {
  color: silver;
  margin: 0 20px 20px 0;
  text-align: right;
}
// ---------------- //

// pagination style //

.pagination {
  color: $site-main-color;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  span {
    border: 1px solid $site-main-color;
    border-radius: 20px;
    display: block;
    height: 20px;
    margin-right: 10px;
    padding: 7px;
    text-align: center;
    width: 20px;
    &:hover {
      background-color: $site-main-color;
      transition-duration: 0.25s;
      & a, i {
      color: white;
      }
    }
    a {
      color: $site-main-color;
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
    }
    i {
      color: $site-main-color;
    }
  }
  .current {
    background-color: $site-main-color;
    color: white;
  }
  .gap {
    border: none;
    &:hover {
      background-color: white;
    }
  }
}

// ---------------- //

.c{background-color: rgb(28, 127, 219);}
.cs{background-color: rgb(0, 117, 0);}
.cpp{background-color: rgb(28, 127, 219);}
.cobol{background-color: rgb(189, 189, 0);}
.go{background-color: rgb(14, 212, 179);}
.java{background-color: rgb(56, 84, 209);}
.javascript{background-color: rgb(206, 206, 0);}
.kotlin{background-color: rgb(240, 156, 0);}
.kuin{background-color: purple;}
.lisp{background-color: rgb(230, 0, 0);}
.matlab{background-color: chocolate;}
.nodedjs{background-color: rgb(68, 133, 3);}
.php{background-color: slateblue;}
.perl{background-color: black;}
.python{background-color: rgb(0, 117, 251);}
.objective-c{background-color: black;}
.r{background-color: rgb(22, 63, 177);}
.ruby{background-color: rgb(160, 0, 0);}
.rust{background-color: black;}
.scala{background-color: rgb(230, 1, 1);}
.swift{background-color: rgb(248, 95, 6);}
.typescript{background-color: rgb(1, 100, 212);}
.visualbasicdnet{background-color: gray;}