// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "colors.scss";

.label-center {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.lang {
  border-radius: 10px;
  color: white;
  height: fit-content;
  margin-right: 5px;
  padding: 2.5px 0.75vw;
  width: fit-content;
}

.log-block {
  border-bottom: 1px solid rgb(209, 209, 209);
  min-height: 90px;
  padding: 10px 5px 8px;
  &__lower {
    display: flex;
    height: 40%;
    width: 100%;
    &-languages {
      display: flex;
      width: 50%;
    }
    &-user {
      color: $site-font-color-gray;
      display: flex;
      width: 50%;
      img {
        border-radius: 20px;
        margin-right: 10px;
      }
    }
  }
  &__text-container {
    display: flex;
    font-size: 0.8rem;
    height: fit-content;
    margin-top: 6px;
    a {
      color: $site-font-color-gray;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(181, 181, 181);
      }
    }
  }
  &__upper {
    height: 60%;
    h1, h2 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.log-container {
  width: 90%;
  margin: 20px auto 30px;
}

.log-check-field,
.log-input-field,
.log-input-field-small {
  margin-top: 30px;
  text-align: center;
}

.log-detail {
  &__langs {
    display: flex;
    justify-content: flex-end;
    margin: 10px 15px 15px 0;
    p {
      margin-right: 5px;
    }
  }
  &__content {
    background-color: #f0f0f0;
    line-height: 1.4;
    margin: 10px auto 20px;
    padding: 20px 40px;
    width: 85%;
    table-layout: fixed;
    &-error,
    &-solution {
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
    &-title{
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-nil {
      color: silver;
    }
  }
  .errors {
    background-color: #fff5f5;
  }
  .solutions {
    background-color: #f6fff4;
  }
}

.log-index-head {
  background-color: $site-main-color;
  th {
    letter-spacing: 1.5px;
  }
}

.log-input {
  border: 1px solid gray;
  height: 30px;
  vertical-align: middle;
  width: 400px;
  &-field {
    text-align: right;
    width: 85%;
    &-lang {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      line-height: 1.7;
      margin: 0 10% 0 25%;
      width: 65%;
      &__box {
        margin-right: 20px;
      }
      input {
        margin-right: 5px;
      }
    }
    &-large {
      border: 1px solid gray;
      height: 100px;
      vertical-align: middle;
      width: 400px;
    }
    &-small {
      text-align: right;
      width: 63%;
      label {
        margin-right: 15px;
      }
    }
  }
}

.log-modal {
  &__back {
    background-color: rgba(0,0,0, 0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  &__container {
    background-color: white;
    margin: 20px auto 30px;
    max-height: 87%;
    max-width: 800px;
    overflow: scroll;
    padding: 32px;
    z-index: 6;
    h2 {
      text-align: center;
    }
    &-destroy {
      background-color: white;
      margin: 70px auto 30px;
      max-height: 60%;
      max-width: 600px;
      padding: 32px;
      z-index: 6;
      h2 {
        text-align: center;
      }
    }
  }
  &__opener {
    background-color: #509556;
    bottom: 5%;
    border-radius: 40px;
    height: 50px;
    position: fixed;
    right: 5%;
    width: 50px;
    z-index: 2;
    i {
      color: white;
      height: 20px;
      left: 32%;
      position: absolute;
      top: 35%;
      width: 20px;
    }
  }
  &__sub-title {
    color: gray;
    margin-top: 50px;
    text-align: center;
  }
}

.log-title {
  padding: 30px 0;
  text-align: center;
}

.log-updated-at {
  color: silver;
  margin: 0 20px 20px 0;
  text-align: right;
}

.mat-30 {
  margin-top: 30px;
}

.no-content-message {
  color: silver;
  margin-top: 40px;
  text-align: center;
}

.pagination {
  color: $site-main-color;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  span {
    border: 1px solid $site-main-color;
    border-radius: 20px;
    display: block;
    height: 20px;
    margin-right: 10px;
    padding: 14px;
    position: relative;
    text-align: center;
    width: 20px;
    &:hover {
      background-color: $site-main-color;
      transition-duration: 0.25s;
      & a, i {
        color: white;
      }
    }
    a {
      color: $site-main-color;
      display: block;
      height: 28px;
      left: 0px;
      position: absolute;
      text-decoration: none;
      top: 3px;
      width: 28px;
    }
    i {
      color: $site-main-color;
    }
  }
  .current {
    background-color: $site-main-color;
    color: white;
    height: 30px;
    padding: 4px 10px 16px 10px;
    width: 30px;
  }
  .gap {
    border: none;
    &:hover {
      background-color: white;
    }
  }
}

.note-title {
  font-size: 1.2rem;
}

// ---------------- //

@media screen and (max-width: 390px){

form {
  margin: 32px 16px !important;
}

.log-detail {
  h1 {
    overflow: hidden;
  }
  &__content {
    padding: 15px;
    width: 95%;
    table-layout: fixed;
    &-error {
      overflow-wrap: break-word;
    }
  }
  &__langs {
    margin: 5px 15px 10px 0;
    .lang {
      font-size: 0.8rem;
      padding: 2.5px 2.5vw;
    }
  }
}

.log-block {
  &__lower {
    &-languages {
      width: 60%;
      .lang {
        font-size: 0.8rem;
        padding: 2.5px 1.2vw;
      }
    }
    &-user {
      width: 40%;
    }
  }
  &__text-container {
    a {
      font-size: 0.8rem;
    }
    p:last-child {
      display: none;
    }
  }
  &__upper {
    h1, h2 {
      overflow: hidden;
    }
  }
}

.log-input {
  width: 100%;
  &-field {
    display: block;
    text-align: left;
    width: 100%;
    &-lang {
      margin: 0;
      width: 100%;
    }
    &-large {
      height: 200px;
      width: 100%;
    }
    &-small {
      text-align: center;
      width: 100%;
    }
  }
}

.log-modal {
  &__container {
    max-width: 370px;
    padding: 25px 15px;
  }
}

.log-updated-at {
  font-size: 0.8rem;
}

.note-title {
  font-size: 1rem !important;
}

}
