@import "colors.scss";

.nav-head-bar {
  background-color: $site-dark-color;
  height: 30px;
  padding: 0 20px 0 50px;
  width: 100%;
  &__container {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    height: 100%;
    margin: 0 auto;
    max-width: 850px;
    width: 100%;
  }
  &__title {
    height: 100%;
    display: flex;
    align-items: center;
    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bg-danger {
  background-color: rgb(191, 0, 0);
}
