$site-main-color: #80c683;
$site-dark-color: #509556;
$site-light-color: #b1f9b3;
$site-font-color: black;
$site-footer-bg-color: rgb(82, 82, 82);
$header-height: 50px;

// add reset css
h1,h2,h3,h4,h5,h6,p {margin: 0};
td,th {padding: 0};
// end

.align-center {
  text-align: center;
}

form {
  margin: 32px;
}

@mixin inner-base {
  background-color: white;
  max-width: 700px;
  padding: 32px;
  h1 {
    text-align: center;
    margin: 20px auto;
  }
}

.app-body {
  min-height: calc(100vh - 50px - 264px - 80px);
  background-color: rgb(240, 240, 240);
  padding: 30px 0 50px;
  &-inner {
    @include inner-base;
    margin: 0 auto;
    min-height: calc(100vh - 50px - 264px - 164px);
  }
  .app-bottom-inner {
    @include inner-base;
    margin: 30px auto;
    height: 200px;
  }
  .inner-bottom-btn-wrap {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 65%;
  }
}

.bottom-profile {
  &__upper {
    height: 70%;
    width: 100%;
    display: flex;
  }
  
  &__lower {
    height: 30%;
    width: 100%;
  }
}

.profile-img {
  &__container {
    text-align: center;
    width: 25%;
    height: 100%;
    img {
      border-radius: 70px;
      width: 135px;
      height: 135px;
    }
  }
}

.profile-introduce {
  &__container {
    width: 75%;
    height: 100%;
  }
  &__name {
    height: 30%;
    h2 {
      margin: 10px auto 10px 20px;
    }
  }
  &__word {
    color: rgb(109, 109, 109);
    line-height: 1.25;
    padding: 5px 10px;
  }
}

.profile-btn {
  &__container {
    display: flex;
    justify-content: space-around;
    margin: 5px auto;
    width: 65%;
  }
}

@mixin btn {
  border: 2px solid $site-dark-color;
  border-radius: 20px;
  margin: 20px auto;
  padding: 1.2vh 2.5vw;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

@mixin btn-empty {
  background-color: white;
  color: $site-dark-color;
}

@mixin btn-fill {
  background-color: $site-dark-color;
  color: white;
}

.btn-default {
  @include btn;
  @include btn-empty;
  &:hover {
    @include btn-fill;
    transition-duration: 0.25s;
  }
}

.btn-filled {
  @include btn;
  @include btn-fill;
  &:hover {
    @include btn-empty;
    transition-duration: 0.25s;
  }
}

.devise-links {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: right;
}

// header style
.header-area {
  background: $site-main-color;
  display: flex;
  height: $header-height;
  text-align: center;
  .flex-3 {
    display: flex;
    height: 100%;
    position: relative;
    width: 33%;
    .header-btn-wrap {
      position: absolute;
      top: 30%;
      right: 20%;
      .header-btn {
        color: $site-font-color;
        margin: 20px 10px;
        text-decoration: none;
      }
    }
    h1 {
      font-size: 1.4rem;
      left: 20%;
      position: absolute;
      top: 20%;
      a {
        color: $site-font-color;
        text-decoration: none;
      }
    }
    img {
      position: absolute;
      left: 8%;
      top: 20%;
    }
  }
}
// end header style

// footer style
.footer-area {
  background-color: $site-footer-bg-color;
  height: 200px;
  padding: 32px 16px;
  position: relative;
  .footer-top {
    display: flex;
    height: 80%;
    max-width: 800px;
    margin: 0 auto;
    .footer-left  {
      width: 60%;
      .footer-site-name {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 20px;
      }
    }
    .footer-right {
      width: 40%;
    }
    a,
    p {
      color: white;
      text-decoration: none;
    }
    .footer-left {
      margin-left: 5%;
      p {
        margin: 10px 0;
      }
      .footer-sns-area {
        display: flex;
        img {
          margin-right: 20px;
        }
      }
    }
    .footer-right {
      display: flex;
      &-start,
      &-end {
        width: 50%;
        display: flex;
        flex-direction: column;
        p:first-child {
          margin: 0;
          font-weight: bold;
        }
        a {
          color: rgb(159, 159, 159);
          margin-top: 1em;
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    height: 20%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    .footer-copy {
      border-top: 1px solid rgb(159, 159, 159);
      bottom: 30px;
      color: rgb(159, 159, 159) !important;
      font-size: 0.8rem;
      padding: 10px 0;
      width: 70%;
    }
  }
}
// end footer style

// Devise style
.user-input-field,
.user-check-field {
  margin-top: 30px;
  text-align: center;
}
.user-input-field {
  width: 66%;
  text-align: right;
}
.user-input {
  height: 30px;
  width: 200px;
}
.silver-font {
  color: silver;
  text-decoration: none;
  &:hover {
    color: rgb(130, 130, 130);
    transition-duration: 0.25s;
  }
}
// end Devise style

