<p><%= @resource.name %>様</p>
<br>
<p>ErrorNote運営チームでございます。</p>
<p>ErrorNoteをご利用いただきありがとうございます。</p>
<p>以下のリンクをクリックして、パスワード変更手続きを行ってください。</p>
<p><%= link_to 'パスワード変更手続き', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>※パスワード変更手続きに心当たりがない場合、本メールは無視してください。</p>
<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
