<%= render "shared/header" %>
<div class="app-body">
  <section class="app-body-inner">
    <h1>検索結果</h1>
    <% if @logs.count == 0 %>
      <p class="no-content-message">キーワードと一致するノートはありませんでした。</p>
    <% else %>
      <%= render "table", logs: @logs, stock: "true" %>
    <% end %>
  </section>
</div>
<%= render "shared/footer" %>
