<section class="app-body-inner">
  <h1>Logs#create</h1>
  <p>Find me in app/views/logs/create.html.erb</p>
  <%= link_to "トップページへ", root_path %>
  <%= link_to "マイログ一覧へ", user_path(id: current_user.id) %>
</section>